* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

/* main and nav */

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(24, 27, 109);
  justify-content: space-around;
  padding: 10px 20px;
}

.sticky {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.nav .nameofme h5 {
  color: #fff;
  font-weight: 800;
  font-size: 2vw;
}

.nav .nav-part1 a {
  color: #fff;
  font-size: 2vw;
  text-decoration: none;
}

.nav .nav-part2 i {
  font-size: 2vw;
  cursor: pointer;
}

.nav .hambarger {
  visibility: hidden;
}

/* header */

#main #heding-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 70px; */
  margin-top: 15px;
}

#main #heding-page .left {
  padding: 10px 50px 10px 50px;
  background-color: rgb(255, 255, 255);
  /* height: ; */
  /* width: 50%; */
}

#main #heding-page .left h2,
span,
p {
  /* font-size: 2vw; */
  font-size: 20px;
}

#main #heding-page .left h4 {
  padding: 5px;
}

#main #heding-page .right {
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main #heding-page .right img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 10px 0;
}

#main #heding-page .left .stack-color:nth-child(1) {
  color: #00e661;
}

#main #heding-page .left .stack-color:nth-child(2) {
  color: rgb(93, 94, 93);
}

#main #heding-page .left .stack-color:nth-child(3) {
  color: #5ed3f3;
}

#main #heding-page .left .stack-color:nth-child(4) {
  color: #74ad5e;
}

#main #heding-page .left .link-btn {
  /* height: 100px; */
  width: 100%;
  background-color: rgb(252, 252, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#main #heding-page .left .link-btn a:nth-child(1) {
  background-color: rgb(201, 201, 19);
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 10px 5px;
  border-radius: 20px;
  text-decoration: none;
  /* font-size: 2vw; */
  /* font-size: small; */
}

#main #heding-page .left .link-btn a:nth-child(2) {
  background-color: rgb(13, 111, 223);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 5px;
  border-radius: 20px;
  text-decoration: none;
  /* font-size: 2vw; */
  font-size: small;
}

/* skills */

#main #skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#main #skills #font-skill {
  /* background-color: rgb(237, 153, 153); */
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 10px;
}

#main #skills #font-skill h4 {
  font-size: medium;
}

#main #skills #font-skill .html .loader {
  color: #dd4b25;
}

#main #skills #font-skill .css .loader {
  color: #254bdd;
}

#main #skills #font-skill .js .loader {
  color: #efd81d;
}

#main #skills #font-skill .bs .loader {
  color: #8512f3;
}

#main #skills #font-skill .react .loader {
  color: #5ed3f3;
}

#main #skills #font-skill .gsap .loader {
  color: #1ae652;
}

#main #skills #font-skill .loco .loader {
  color: #d4c9c9;
}

#main #skills #back-skill {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

#main #skills #back-skill h4 {
  font-size: medium;
}

#main #skills #back-skill .node .loader {
  color: #74ad5e;
}

#main #skills #back-skill .ej .loader {
  color: #5d5e5d;
}

#main #skills #back-skill .mdb .loader {
  color: #00e68f;
}

#main #skills #back-skill .git .loader {
  color: black;
}

#main .h3 {
  text-align: center;
  font-size: small;
  width: fit-content;
  margin-top: 40px;
  background-color: #dcf7fe;
  border-radius: 5px;
  padding: 5px;
  border-bottom: 2px solid rgb(131, 122, 122);
}

/* #main .h3:nth-child(3){
  margin-top: 100px;
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #dd4b25;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

/* educations */
#main #educations {
  margin-top: 30px;
}

#main #educations .line {
  height: 600px;
  width: 5px;
  border-radius: 5px;
  background: rgb(195, 250, 173);
  background: linear-gradient(
    351deg,
    rgba(195, 250, 173, 1) 48%,
    rgb(221, 150, 253) 70%
  );
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
  flex-direction: column;
}

#main #educations .line .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(70, 7, 65);
  display: flex;
  align-items: center;
}

#main #educations .line .dot p {
  margin-left: 1px;
  height: auto;
  font-size: 15px;
  background-color: #dfd70786;
  padding: 10px 15px;
  border-radius: 10px;
}

#main #educations .line .dot:nth-child(2).dot p {
  margin-left: -157px;
}

#main #projects {
  margin-top: 20px;
  /* height: 300px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 20px; */
}

#main #projects .card {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 0;
}

#main #projects .card:hover {
  opacity: 0.7;
}

#main #projects .card h4 {
  font-size: medium;
}

#main #projects .card a {
  height: 100%;
  text-decoration: none;
  width: 100%;
}

#main #projects .card a img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#main .contbox {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  margin-top: 100px;
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* media */

@media screen and (max-width: 700px) {
  .nav .hambarger {
    visibility: visible;
  }

  .nav .nav-part1,
  .nav-part2 {
    visibility: hidden;
  }

  .nav .nameofme h5 {
    color: #fff;
    font-weight: 800;
    font-size: 3vw;
  }

  /* #main #heding-page .left h2, span, p{
        font-size: 2.5vw;
    } */

  #main #heding-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 70px; */
    margin-top: 15px;
  }
  #main #skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #main #projects {
    margin-top: 20px;
    /* height: 300px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
  }

  #main .contbox {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-direction: column;
  }
}
